.trocarTema{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background: var(--elementos);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 39px;
  width: 75px;
  animation: mudarDeCor 2s infinite alternate ease-in-out;
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
}

.circulo{
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  height: 33px;
  width: 33px;
  transform: translateX(0px);
  transition: transform 0.25s linear;
}

.ativo{
  transform: translateX(0);
}

.desativo{
  transform: translateX(110%);
}