.botaoFormulario{
  width: 130px;
  height: 40px;
}

.anterior{
  margin-right: 10px;
}

.finalizar{
  background-color: rgb(15, 227, 142);
}

.finalizar:hover{
  background-color: rgb(2, 199, 120);
}

@media screen and (max-width: 700px){
  .botaoFormulario{
      width: 47.5%;
      margin: 0;
  }

  .anterior{
      margin-right: auto;
  }
}