.aviso{
    margin-top: 200px;
    font-weight: bold;
    text-transform: uppercase;
}

.input-busca-dia{
    background: #fff;
    position: absolute;
    top: -70px;
    left: 0;
    width: 190px;
    height: 45px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7.5%), 0 8px 16px rgb(0 0 0 / 7.5%);
    padding-right: 10px;
}

.conteudo-painel{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
}

.dia{
    width: 23.5%;
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgb(0 0 0 / 7.5%), 0 8px 16px rgb(0 0 0 / 7.5%);
    border-radius: 10px;
    margin: 0 auto 25px auto;
}

.margem-dia{
    width: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 25px 0;
}

.texto-dia{
    width: 45%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.5px;
    font-weight: bold;
    color: rgb(147, 147, 147);
}

.horarios{
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-redirecionar-para-agendamento{
    width: 47.5%;
    height: 40px;
    margin-top: 10px;
}

.btn-redirecionar-para-agendamento:nth-child(1){margin-top: 0;}
.btn-redirecionar-para-agendamento:nth-child(2){margin-top: 0;}

@media screen and (max-width: 1000px){
    .dia{width: 30%;}
}

@media screen and (max-width: 800px){
    .conteudo-painel{
        justify-content: space-between;
    }

    .dia{width: 47%; margin: 0 0 20px 0;}
}

@media screen and (max-width: 450px){
    .dia{width: 100%;}
}