.container-funcionalidades{
    width: 70%;
    display: flex;
    margin-top: 15%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.funcionalidade{
    width: 31%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin-bottom: 50px;
    border: 1px solid rgb(239, 239, 239);
    cursor: pointer;
}

.funcionalidade:hover{
    border: 1px solid rgb(170, 0, 255);
}

.margem-funcionalidade{
    width: 80%;
    height: 85%;
}

.img-funcionalidade, .descricao-funcionalidade, .titulo-funcionalidade{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-funcionalidade{height: 15%;}
.descricao-funcionalidade{height: 35%;}

.icon-funcionalidade{
    width: 90px;
}

.texto-titulo-funcionalidade{
    font-weight: bold;
    color: #000;
    font-size: 17.5px;
}

@media screen and (max-width: 1000px){
    .funcionalidade{width: 47.5%;;}
}

@media screen and (max-width: 500px){
    .container-funcionalidades{
        width: 90%;
        margin-top: 50px;
    }

    .funcionalidade{width: 100%;}
}