.container-agendamentos{
    width: 90%;
    margin: 50px 0;
}

.painel-agendamentos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
    border-radius: 7.5px;
}

.margem-painel{
    width: 95%;
    margin: 30px 0;
}

.botoes-painel, .conteudo-painel{
    width: 100%;
}

.botoes-painel{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*Botoes*/
.select-agendamentos{
    width: 150px;
    height: 45px;
}

.linha-pesquisa{
    width: 300px;
    height: 45px;
    position: relative;
}

.input-pesquisar{
    width: calc(100% - 15px);
}

.icon-lupa{
    width: 25px;
    position: absolute;
    top: 25%;
    right: 10px;
}


/*conteúdo*/
.conteudo-painel{
    height: auto;
}

.linha{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
}

.coluna-principal-1, .coluna-principal-2, .coluna-principal-3, .coluna-principal-4, .coluna-principal-5,
.coluna-1, .coluna-2, .coluna-3, .coluna-4, .coluna-5{
    background: rgb(170, 0, 255);
    color: #fff;
    display: flex;
    padding: 10px 0;
}

.coluna-principal-1, .coluna-principal-2, .coluna-principal-3, .coluna-principal-4, .coluna-principal-5{
    padding: 15px 0;
    border-radius: 10px;
}

.coluna-1, .coluna-2, .coluna-3, .coluna-4, .coluna-5{
    background: #fff;
}

.coluna-principal-1, .coluna-1{width: 30%;}
.coluna-principal-2, .coluna-2{width: 8%;}
.coluna-principal-3, .coluna-3{width: 20%;}
.coluna-principal-4, .coluna-4{width:20%;}
.coluna-principal-5, .coluna-5{width:20%; justify-content: center;}

.texto-conteudo-agendamentos, .subtitulo-conteudo-agendamentos{
    margin: 0 0 0 10px;
    color: rgb(53, 53, 53);
}

.subtitulo-conteudo-agendamentos{color: #fff; font-weight: bold;}

.btn-detalhe{
    width: 60%;
    height: 40px;
}

@media screen and (max-width: 600px) {
    .margem-painel{
        width: 90%;
    }

    /*Botoes*/
    .select-agendamentos{width: 33%;}
    .linha-pesquisa{width: 57.5%;}

    /*Conteúdo*/
    .linha{margin-top: 30px;}
    .linha:nth-child(1){display: none;}
    .linha:nth-child(2){margin-top: 0;}

    .coluna-1, .coluna-2, .coluna-3, .coluna-4, .coluna-5{padding: 0;}

    .coluna-1{width: 37%; margin-bottom: 5px;}
    .coluna-2{width: 22%;  margin-top: -10px;}
    .coluna-3{width: 35%;  margin-top: -10px;}
    .coluna-4{width:39%; justify-content: left;}
    .coluna-5{width:59%; justify-content: left;}

    .texto-conteudo-agendamentos{margin-left: 0;}
    .btn-detalhe{width: 100%;}
}