body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--fundo);
}

.header-principal{
    width: 90%;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%), 0 8px 16px rgb(0 0 0 / 25%);
}

.conteudo-header{
    width: 92.5%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.margem-header{
    background: var(--elemntos);
    width: 100%;
    height: 10%;
    animation: mudarDeCor 2s alternate infinite;
}

.header-tema{
    width: 85%;
    margin-top: 30px;
}

.container-conteudo-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contatos{
    width: 100%;
    display: flex;
    justify-content: center;
    background: transparent;
    margin-bottom: 50px;
}