/*Templates*/
p, a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: var(--textos);
    margin: 0;
    text-decoration: none;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--titulos);
    margin: 0;
}


button{
    border: none;
    background: var(--elemntos);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
}

button:hover{
    background: var(--hover);
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--textos);
    margin-bottom: 5px;
}

input, select, textarea{
    width: calc(100% - 17px);
    height: 45px;
    padding-left: 10px;
    border-radius: 8px;
    border: none;
    background: var(--inputs);
    cursor: pointer;
    color: var(--textos);
}

select{
    width: 99%;
}

.icon-header{
    width: 32.5px;
    cursor: pointer;
}

/*Variáveis*/
:root{
    --fundo: rgba(140, 0, 195, 0.05);
    --titulos: #170052;
    --textos: rgb(106, 106, 106);
    --elemntos: rgb(170, 0, 255);
    --hover: rgb(128, 0, 192);
    --degrade: rgb(255, 176, 192);
    --formularios: #fff;
    --inputs: rgb(170, 0, 255, 0.05);
    --sobreposicao: rgba(0, 0, 0, 0.35);
}

.temaClaro:root{
    --fundo: rgba(140, 0, 195, 0.05);
    --titulos: #170052;
    --textos: rgb(106, 106, 106);
    --elemntos: rgb(170, 0, 255);
    --hover: rgb(128, 0, 192);
    --degrade: rgb(255, 176, 192);
    --formularios: #fff;
    --inputs: rgb(170, 0, 255, 0.05);
    --sobreposicao: rgba(0, 0, 0, 0.35);
}

.temaEscuro:root{
    --fundo: rgb(40, 40, 40);
    --titulos: #ffffff;
    --textos: rgb(255, 255, 255);
    --elemntos: rgb(113, 0, 252);
    --hover: rgb(82, 3, 138);
    --degrade: rgb(255, 176, 192);
    --formularios: rgb(55, 55, 55);
    --inputs: rgba(9, 9, 9, 0.075);
    --sobreposicao: rgba(0, 0, 0, 0.35);
}

/*Animações*/
@keyframes pulsar{
    0%{
        transform: scale(0.6);
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        transform: scale(1);
        opacity: 0;
    }
    
}

@keyframes mudarDeCor{
    from{
        filter: brightness(100%);
    }

    to{
        filter: brightness(135%);
    }
}

@keyframes flutuar{
    from{
        transform: translate3d(0, 0, 0);
        filter: brightness(100%);
    }

    to{
        transform: translate3d(0, -15px, 0);
        filter: brightness(135%);
    }
}

@keyframes escrever{
    from{
        width: 0;
    }
}

@keyframes piscar{
    0%{color: var(--textos)}

    50%{
        border: transparent;
    }
}