.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.margemContainer{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centralizar{
  justify-content: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .container{
    min-height: 92.5vh;
  }
}