.formulario{
  width: 550px;
  background: var(--formularios);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7.5%), 0 8px 16px rgb(0 0 0 / 7.5%);
  margin: 25px 0;
}

.margemFormulario{
  width: 90%;
  margin: 25px 0;
}

@media screen and (max-width: 700px){
  .formulario{width: 100%;}
}